body {
    background:black;
    color:white;
}

#box, #message {
    width:100%;
    margin:20px 0;
    text-align:center;
}

#message {
    background:yellow;
    color:black;
    font-style:italic;
}

#box button {
    width:100%;
    display:block;
    height:40px;
    font-weight:bolder;
    border:1px solid white;
    margin:3px 0;
    color:black;
}

a {
    color:red;
}

a:visited {
    color:red;
}
