div#dashboard
  div#scorewrapper
    div#scoreheader Score
    div#score.barElement.element
  div#healthwrapper
    div#healthheader Health
    div#health.textElement.element
div#dpad
  div#arrowUp.arrow.buttonElement.element
  div#arrowDown.arrow.buttonElement.element
  div#arrowLeft.arrow.buttonElement.element
  div#arrowRight.arrow.buttonElement.element
div#cpad
  div#buttonA.buttonElement.element
  div#buttonB.buttonElement.element
